.container {
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 2rem;

		.card {
			padding: 1rem;
			background-color: #fff;
			height: 10rem;
			// border-radius: 10px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-items: flex-end;
			justify-content: center;

			p {
				color: #fff;
			}
		}

		.organisationsCard {
			background-color: var(--primary-color);
		}

		.staffCard {
			background-color: lightseagreen;
		}

		.teamsCard {
			background-color: darkorange;
		}

		.projectsCard {
			background-color: blue;
		}
	}
}